body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

canvas {
    background-color: #7878ff; /* Cor do céu do Mario */
    border: 2px solid #000;
    image-rendering: pixelated; /* Importante para o estilo retro */
}
